@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,body, #root {
      @apply h-full text-white antialiased;
    }
  }

body {
    background-color: #121212;
}

.navlink-home.active img{
  content: url("../src/assets/images/home-active.png");
}
.navlink-search.active img{
  content: url("../src/assets/images/search-active.png");
}
.navlink-library.inactive img{
  content: url("../src/assets/images/library-inactive.png");
}


.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  right: -3px;
  top: 0;
  width: 6px;
  height: 100%;
  border-right: 1px solid transparent;
}


.react-resizable-handle:hover{
  border-color: grey;
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: ew-resize;
}


